.skip-link {
  position: relative;
  display: inline-block;
  left: -9999em;
  top: -9999em;

  text-decoration: none;
  text-transform: none;
  font-weight: var(--font-weight-bold);

  background-color: var(--white);
  color: var(--balck);

  padding: 1rem 2.5rem;

  &:focus {
    height: auto;
    left: 1em;
    top: 1em;
    width: auto;
    z-index: 100000;
    outline: 0.125em dashed red;
  }
}
